# override specific domains with pre-defined ip addresses
# example.com     10.1.1.1
# www.google.com  ::1
# github.com      ::1
# github.com      10.1.1.1 # multiple items must be defined in different lines
